[connections.snowflake]
account = "YOUR_ACCOUNT_IDENTIFIER"
user = "YOUR_USER"
password = "YOUR_PASSWORD"
role = "E2E_SNOW_MLOPS_ROLE"
warehouse = "E2E_SNOW_MLOPS_WH"
database = "E2E_SNOW_MLOPS_DB"
schema = "MLOPS_SCHEMA"
